.header-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand span {
  color: #2bb3dd;
}

.btn-xl {
  border-color: #2bb3dd;
  background-color: #2bb3dd;
}

.boxton > .container-fluid {
  padding: 0;
}

header {
  background-attachment: fixed;
}

.clients img {
  height: 50px;
  width: auto;
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

/*
img.desaturate {

}
*/