.header-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand span {
  color: #2bb3dd;
}

.btn-xl {
  border-color: #2bb3dd;
  background-color: #2bb3dd;
}